.box--overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background: rgba(0, 0, 0, 0.6);
}

.box--container {
    display: flex;
    justify-content: center;
    /*align-content: center;*/
    top: 50%;
    margin-top: -150px;
    width: 100%;
    position: absolute;
}

.box--modal {
    background-color: whitesmoke;
    position: absolute;
    border-radius: 2px;
}

.box--modal-title {
    padding: 2vh 2vh 0 2vh;
    font-size: larger;
}

.box--modal-content {
    padding: 1vh 1vh 0 1vh;
}

.box--modal-buttons-section {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box--modal-buttons {
    padding: 1vh 3vh;
    width: 15vh;
    border: none;
    border-radius: 2px;
    margin: 1vh;
    font-size: medium;
    color: white;
    cursor: pointer;
}


